* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
header {
  background-color: #212429;
  padding: 0px 120px 0 120px;
}
header .container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container-header .title-frontend {
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin: 40px 0 40px 0;
}
header .container-header .list {
  display: flex;
  list-style: none;
  margin: 40px 0 40px 0;
}
header .container-header .list a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
header .container-information {
  display: flex;
}
header .container-information .information {
  margin: 70px 0 0 0;
}
header .container-information .information .title-web {
  color: white;
  word-spacing: 2px;
  margin: 0 0 20px 0;
}
header .container-information .information .title-web .infoDesarrollo {
  color: #ffb511;
}
header .container-information .information .parrafoInfo {
  color: white;
  opacity: 0.6;
  margin: 0 0 20px 0;
}
header .container-information .information .btnIniciar {
  width: 150px;
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: #0d6efd;
  color: white;
  font-size: 14px;
  cursor: pointer;
}
header .container-information .information .btnIniciar:hover {
  background-color: #ffb511;
  color: white;
  transition: 350ms all;
}

.img-info {
  width: 400px;
}

/* FIN HEADER */
/* SECTION FORMULARIO */
.formularioUser {
  display: flex;
  justify-content: space-between;
  background-color: #0d6efd;
  padding: 30px 120px 30px 120px;
}
.formularioUser .title-form {
  word-spacing: 2px;
  color: white;
}
.formularioUser input {
  width: 420px;
  height: 40px;
  padding: 10px;
  outline: none;
  border-radius: 2px;
  border: none;
  color: #212429;
  font-weight: bold;
}
.formularioUser .btnInscribir {
  height: 40px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  background-color: #212429;
  color: white;
  border: none;
  border-radius: 2px;
}
.formularioUser .btnInscribir:hover {
  background-color: #ffb511;
  color: white;
  transition: 350ms all;
}

/* FIN SECTION FORMULARIO */
/* SECCION CARTAS USUARIOS */
.container-cards {
  display: flex;
  padding: 0px 120px 0 120px;
  justify-content: space-between;
  margin-top: 50px;
}
.container-cards .card {
  max-width: 320px;
  text-align: center;
  background-color: #212429;
  color: white;
  padding: 10px;
  border-radius: 4px;
}
.container-cards .card .svg-logo {
  width: 50px;
  filter: invert(50) sepia(100) hue-rotate(20deg);
}
.container-cards .card .title {
  margin: 10px 0 10px 0;
}
.container-cards .card .lorem {
  font-size: 13px;
  word-spacing: 2px;
  font-weight: 500;
  opacity: 0.6;
}
.container-cards .card .btn-leer {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  background-color: #0d6efd;
  color: white;
}
.container-cards .card .btn-leer:hover {
  background-color: #ffb511;
  color: white;
  transition: 350ms all;
}

.card:nth-last-child(2) {
  background-color: #6c757e;
}

/* FIN SECCION CARTAS */
/* SECCION DE FUNDAMENTOS */
.container-fundaments {
  display: flex;
  justify-content: space-between;
  padding: 0px 120px 0 120px;
  margin-top: 70px;
}
.container-fundaments .container-parrafos {
  max-width: 700px;
  margin: 60px 0 0 90px;
}
.container-fundaments .img-fundaments {
  width: 400px;
}
.container-fundaments .title-fundaments {
  margin: -50px 0 20px 0;
  letter-spacing: 0.8px;
}
.container-fundaments .p-fundaments {
  margin-bottom: 10px;
  line-height: 20px;
  font-weight: 500;
  font-size: 16px;
}
.container-fundaments .btn-leerMas {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #0d6efd;
  color: white;
}
.container-fundaments .btn-leerMas .flecha {
  width: 10px;
  margin-left: 5px;
  filter: invert(50) sepia(100) hue-rotate(20deg);
}
.container-fundaments .btn-leerMas:hover {
  background-color: #ffb511;
  color: white;
  transition: 350ms all;
}

/* FIN SECCION DE FUNDAMENTOS */
/* SECCION DE PREGUNTAS */
.question-container {
  padding: 0px 120px 0 120px;
  margin-top: 50px;
}

.container-questions {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(206, 206, 206);
  padding: 8px;
  margin-top: -30px;
  border-radius: 4px;
  cursor: pointer;
  /* .row:active {
      transform: rotate(90deg);
      transition: 300ms all;
  } */
}
.container-questions .question {
  font-size: 18px;
}
.container-questions .row {
  width: 13px;
  height: 13px;
  margin-top: 5px;
}

.container-questions:hover {
  background-color: #e0edff;
}

.respuesta {
  display: none;
}

/* FIN SECCION DE LAS PREGUNTAS */
/* CLASE ACTIVO PARA ACTIVAR EL MENU */
.active-respuesta {
  display: block;
  margin: 10px 0 0 20px;
  font-weight: bold;
  opacity: 0.6;
}

.active-flecha {
  transform: rotate(90deg);
  transition: 360ms all;
}

/* FIN CLASE ACTIVO */
/* SECCION INSTRUCTORES */
.main {
  background-color: #0d6efd;
}
.main .instructors {
  display: flex;
  margin-top: 30px;
  padding: 0px 120px 0 120px;
}
.main .instructors .card-instrctors {
  text-align: center;
  background-color: white;
  margin: 20px;
  border-radius: 9px;
  padding: 10px;
}
.main .instructors .redes-icon {
  width: 30px;
  margin-left: 5px;
  cursor: pointer;
}
.main .instructors .img-responsive {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.main .instructors .card-title {
  padding: 5px 0 5px 0;
  font-size: 23px;
  font-weight: bold;
}
.main .instructors p {
  opacity: 0.9;
  padding: 5px 0 10px 0;
}

/* PARA DISPOCITIVOS MOVILES */
@media (max-width: 1200px) {
  header {
    padding: 0 30px 0 30px;
  }
  .container-information {
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  .img-info {
    margin: 0 auto;
    margin-top: 30px;
  }
  .formularioUser {
    padding: 20px 0 20px 0;
    display: block;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
  }
  .formularioUser .title-form {
    margin: 10px 0 10px 0;
  }
  .container-cards {
    padding: 5px;
    margin-top: 50px;
  }
  .container-fundaments {
    display: block;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
  }
  .container-fundaments .container-parrafos {
    margin: 0 auto;
    margin-top: 80px;
    max-width: 600px;
  }
  .question-container {
    padding: 0 20px 0 20px;
    text-align: center;
  }
  .question-container .respuesta {
    text-align: left;
  }
  .main .instructors {
    padding: 2px;
    margin: 0 auto;
  }
}
@media (max-width: 1011px) {
  .container-cards {
    flex-wrap: wrap;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }
  .card {
    margin: 0 auto;
    margin-top: 20px;
  }
}
@media (max-width: 600px) {
  .img-info {
    max-width: 250px;
    width: auto;
  }
  .formularioUser input {
    width: 210px;
    font-size: 12px;
  }
  .container-header .title-frontend {
    max-width: 50px;
  }
  .list {
    flex-wrap: wrap;
    max-width: 100px;
  }
  .list .list-items {
    list-style: disc;
  }
  .container-fundaments .img-fundaments {
    width: 250px;
  }
  .question-container .question {
    font-size: 15px;
  }
  .question-container .respuesta {
    font-size: 13px;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */